* {
    padding: 0;
    margin: 0;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
}

body { background-color: black; }

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

h2 { margin-bottom: 20px; }

.container-home {
    z-index: 100;
    background-color: black;
}

.home {
    height: 93vh;
    background-color: lightgrey;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://assets.nflxext.com/ffe/siteui/vlv3/eb482c64-e879-4e88-9ddc-d839cb7d1232/e9e3f8d0-711a-448e-8441-33b269740de7/BR-pt-20220131-popsignuptwoweeks-perspective_alpha_website_medium.jpg);
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 45px 0px 45px;
    height: 90px;
}

.idioma_login {
    width: 16%;
    display: flex;
    justify-content: space-between;
    letter-spacing: 1px;
}

select {
    background-color: transparent;
    padding: 8px 12px 8px 12px;
    border: 2px solid rgb(221, 210, 210);
    position: absolute;
    right: 160px;
    top: 27px;
}

select option {
    background-color: rgb(211, 201, 201);
    padding: 3px;
}

a { text-decoration: none; }

.login {
    background-color: #F40612;
    padding: 8px 12px 8px 12px;
    border-radius: 5px;
    position: absolute;
    right: 50px;
    top: 27px;
}

.logo { height: 55%; }

main, section { border-bottom: 10px solid #222; }

.apresentacao {
    display: flex;
    text-align: center;
    flex-direction: column;
    max-width: 700px;
    margin: auto;
    margin-top: 20vh;
}

.secao-email {
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: top;
    justify-content: center;
}

.secao-email input {
    width: 428px;
    height: 58px;
}

.secao-email input::placeholder {
    padding: 10px;
    font-size: 1.2em;
}

.cadastrar {
    display: flex;
    align-items: center;
    padding: 0px 25px;
    height: 62px;
    background-color: #F40612;
    font-size: 1.6em;
}


@media (max-width:950px) {
    .secao-email {
        display: flex;
        flex-direction: column;
    }
    
    .secao-email input {
        width: 480px;
        margin: auto;
        height: 55px;
    }
    
    .secao-email .cadastrar {
        width: 120px;
        height: 40px;
        font-size: 1em;
        padding: 0;
        display: flex;
        justify-content: center;
        margin: auto;
        margin-top: 10px;
    }
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0px;
}

.secao1 .texto { min-width: 520px; }

section .container, .container-card, .container-secao3, .container-secao4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    min-width: 1100px;
    position: relative;
}

.secao1 img { width: 530px; }

.secao1 video {
    position: absolute;
    width: 384px;
    top: 20.5%;
    left: 58.2%;
    z-index: -1;
}

@media(max-width: 1200px) {
    section .container, .container-card, .container-secao3, .container-secao4 {
        min-width: min-content;
    }
    
    .secao1 .texto {
        min-width: min-content;
    }
    
    .secao1 img {
        width: 44vw;
    }
    
    .secao1 .container, .container-secao3, .container-secao4 {
        display: flex;
        justify-content: space-between;
        margin: 0;
        width: 92%;
    }
    
    .secao1 video {
        position: absolute;
        width: 32.5vw;
        top: 6.5vw;
        left: 52.5vw;
        z-index: -1;
    }
    
    .container-card :first-child { width: 42vw; }
    
    .container-card { width: 93%; }
    
    .container-card .card {
        bottom: 2vw;
        left: 7vw;
        width: 27vw;
        height: 6vw;
    }

    .card p { width: 200px; }
    
    .container-secao3 div img { width: 45vw; }

    .container-secao3 div video {
        position: absolute;
        width: 28vw;
        bottom: 15vw;
        left: 8.5vw;
        z-index: -1;
    }
    
    .container-secao4 img { width: 42vw; }   
}


@media(max-width: 1180px) {
    .card p { width: 130px; }
}

.container-card > div > img { width: 500px; }

.container-card > div, .container-secao3  div { position: relative; }

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 3px solid #222;
    background-color: black;
    border-radius: 15px;
    height: 70px;
    width: 320px;
    padding: 10px 5px;
    align-items: center;
    position: absolute;
    bottom: 7%;
    left: 16%;
}

.card :first-child { width: 50px; }

.card p { color: #005FEB; }

.card .gif { height: 50px; }

.container-card .texto, .container-secao4 .texto { max-width: 530px; }

.container-secao3 img { width: 555px; }

.container-secao3 .texto { max-width: 530px; }

@media(min-width:1201px) {
    .container-secao3 div video {
        position: absolute;
        width: 360px;
        bottom: 43%;
        left: 18%;
        z-index: -1;
    }

    .container-secao4 img{ width: 505px; }
}

.secao-perguntas {
    display: flex;
    flex-direction: column;
}

aside { width: 840px; }

ul { list-style: none; }

li {
    background-color: #222;
    font-size: 1.7em;
    margin-bottom: 10px;
}

button {
    height: 80px;
    background-color: transparent;
    border: 0;
    padding: 30px;
    font-size: 1em;
}

button:hover { cursor: pointer; }

ul > li > div {
    border-top: 1px solid black;
    padding: 30px;
}