@media(max-width: 950px) {

    h1 { font-size: 40px; }
    h2 { font-size: 20px; }

    .secao-perguntas, aside {
        width: 85vw;
        margin: auto;
        margin-bottom: 30px;
    }

    ul > li > div { padding: 15px; }

    .apresentacao {
        margin: auto;
        margin-top: 20vh;
    }

    .secao-email {
        display: flex;
        flex-direction: column;
    }
    
    .secao-email input {
        width: 480px;
        margin: auto;
        height: 55px;
    }
    
    .secao-email .cadastrar {
        width: 120px;
        height: 40px;
        font-size: 1em;
        padding: 0;
        display: flex;
        justify-content: center;
        margin: auto;
        margin-top: 10px;
    }

    section {
        display: flex;
        flex-direction: column;
        padding: 70px 0 0 0;
    }

    section h2 {
        font-size: 18px;
    }

    .secao1 .texto {
        width: 90%;
        text-align: center;
    }

    .secao1 .container {
        flex-direction: column;
    }

    .secao1 img {
        width: 520px;
        position: relative;
        top: -60px;
        z-index: -1;
    }

    .secao1 video {
        position: absolute;
        width: 379px;
        top: 28.5%;
        left: 50%;
        transform: translate(-50% );
    }

    .container-card {
        position: relative;
        flex-direction: column-reverse;
        text-align: center;
        margin: auto;

    }

    .container-card :first-child{ width: 600px; }

    .container-card .texto{ margin: auto; }

    .container-card h1 { margin: auto; }

    .card :first-child { width: 50px; }

    .card {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        text-align: left;
    }

    .card p{ width: max-content; }
    
    .container-secao3 .texto {
        width: 90%;
        text-align: center;
    }

    .container-secao3{
        flex-direction: column;
        position: relative;
        margin: auto;

    }

    .container-secao3 :nth-child(2) img {
        width: 600px;
        z-index: -1;
        margin: auto;
    }

    .container-secao3 div video {
        position: absolute;
        width: 371px;
        top: 48px;
        left: 50%;
        transform: translate(-50%);
    }

    .container-secao4 { flex-direction: column-reverse; }

    .container-secao4 .texto {
        max-width: max-content;
        width: 90%;
        text-align: center;
    }

    .container-secao4 img { width: 600px; }

    .secao-perguntas button {
        height: 60px;
        padding: 15px;
        font-size: 20px;

    }

    .secao-perguntas li{ font-size: 20px; }
}

@media(max-width:949) and (min-width: 721px){
    .container-card :first-child{ width: 600px; }
}

@media(max-width: 840px) {
    .apresentacao {
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media(max-width: 740px) {
    .secao-email input { height: 45px; }
}

@media(max-width: 620px) {
    .apresentacao { margin-top: 10vh; }

    .secao1 img { width: 84vw; }

    .secao1 video { width: 61vw; }

    .container-card :first-child { width: 94vw; }
    
    .card { 
        width: 50vw; 
        height: 10vw;
    }
    .card h1, .card p { font-size: 12px; } 

    .card :first-child{ width: 9vw; }

    .container-secao3 :nth-child(2) img { width: 96vw; }

    .container-secao3 div video {
        width: 62vw;
        top: 45px;
    }

    .container-secao4 img { width: 80vw; }
}

@media(max-width: 550px) {
    .logo { height: 40%; }

    .login {
        padding: 3px 8px;
        border-radius: 3px;
        right: 20px;
    }

    select {
        padding: 3px 4px;
        right: 100px;
    }

    h1 { font-size: 28px; }

    h2 { font-size: 18px; }

    .secao-email input { width: 100%; }

    .home { height: 70vh; }

    .secao-perguntas aside {
        width: 95vw;
        margin: 0;
    }
}

@media (max-width: 580px) {
    .secao1 video { top: 31%; }
}

@media (max-width: 455px) {
    .home { height: 93vh; }

    .secao1 video {
        top: 130px;
        transform: translateY(-50%);
        transform: translateX(-50%);
    }

    .card h1, .card p { width: 30vw; }

    .card { width: 65vw; }

    header { padding: 0px 20px; }
}

@media (max-width: 409px) {
    .secao1 video { top: 145px; }
}